body {
    background-image: url(../images/tlo.png);
    background-repeat: repeat-x repeat-y;
    font-family:sans-serif;
  }

main{
    color: black;
    background-color: white;
    margin: 248px auto 16px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 64px 0;
    column-gap: 256px;
}

.order-details-container{
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    padding-right: 8px;
    margin-left: 8px;
}

.summary-container{
    border: 1px solid #638094;
    margin-right: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.summary-container h2{
    background-color: #306082;
    color: white;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0;

}

.product-container{
    padding: 8px;
    border-bottom: 1px solid #306082;
}

.cart-cost-summary{
    display: flex;
    justify-content: center;
    column-gap: 50%;
}

.cart-cost-summary span:last-of-type, .product-price-text{
    font-weight: bold;
}



.place-order-button{
    display: flex;
    border-radius: 12px;
    margin: 24px auto;
    width: 50%;
    font-size: 24px;
    background-color: #306082;
    color: white;
    margin: 0 auto;
    
}