body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;
  font-family:sans-serif;
}


main{
  color: black;
  background-color: white;
  margin: 121px auto 16px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user-actions-container{
  display: flex;
  flex-direction: column;
  font-size: 32px;
  width: 15%;
  padding-left: 5%;
  padding-right: 5%;
  row-gap: 32px;
}

.user-actions-container a {
  text-decoration: none;
}

.link{
  text-decoration: none;
}

.logout-button, .rate-product-button, .change-data-button{
  color: white;
  background-color: #306082;
  border-radius: 24px;
  font-size: 16px;
}

.user-data-container{
  display: flexbox;
  flex-direction: row;
  width: 85%;
  padding-left: 5%;
  border-left: 1px solid #638094;
}

img{
  width: 150px;
}

.ordered-product-image{
  width: 100px;
}

.status-icon {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}

.status-container{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.divider{
  border: 1px solid #05092e;
  background-color: #05092e;
  width: 10%;
  height: 1px;
  margin: 24px 16px 0 16px;
}

.status{
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.in-progress {
  opacity: 0.65;
}

.ordered-product-container {
  display: flex;
  flex-direction: row;
}

.ordered-product-info{
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

/* produkty do oceny */
.reviews-data-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px auto;
}


.product-to-review-container{
  flex-basis: calc(25% - 20px); 
  text-align: center;
  justify-content: center;
  color: black;
  border: 1px solid  #306082;
  border-radius: 5px;
  width: 20%;
  padding: 10px
}

/* wishlista */
.wishlisted-product{
  display: flex;
  border: 1px solid #306082;
  width: 50%;
  margin-top: 8px;
  border-radius: 16px;
}

.wishlisted-product p{
  margin-top: 64px;
}
/* ustawienia konta */
form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form *{
  height: 50px;
}

form label{
  margin-top: 12px;
  margin-bottom: -24px;
}

form input{
  font-size: 24px;
  border-radius: 24px;
  border-color: #306082;
}

form button{
  margin-top: 24px;
}

/* ogolne */
h2{
  font-size: 32px;
  border: 1px solid #306082;
  border-radius: 16px;
  background-color: #306082;
  color:  white;
  padding-left: 12px;
  margin-right: 64px;
}

.wishlist-data-container *, .orders-data-container *{
  padding-left: 16px;
}