body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;
  font-family:sans-serif;
}


main{
  color: black;
  background-color: white;
  margin: 200px auto;
  width: 90%;
}

img{
  width: 150px;
}

.ordered-product-image{
  width: 100px;
}

.status-icon {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}

.status-container{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.divider{
  border: 1px solid #05092e;
  background-color: #05092e;
  width: 10%;
  height: 1px;
  margin: 24px 16px 0 16px;
}

.status{
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.in-progress {
  opacity: 0.75;
}

.ordered-product-container {
  display: flex;
  flex-direction: row;
}

.ordered-product-info{
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}