body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;
  font-family:sans-serif;
}


main{
  color: black;
  background-color: white;
  margin: 200px auto;
  width: 90%;
}

img{
  width: 150px;
}

