footer{
  background-color: #05092e;
  color: white;
  border: 5px solid  #306082;
  border-radius: 5px;
}

.footer-container{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 10%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

.author{
  text-align: center;
}
