body {
  margin: 0;
  padding: 0;
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;
  font-family:sans-serif;
}

main{
  color: black;
  background-color: white;
  margin: 124px auto 16px auto;
  width: 50%;
}

h2{
  font-size: 36px;
  margin-left: 10%;
}

.product-image{
  width: 192px;
}

a{
  text-decoration: none;
}

/* baner */
.banner-container{
  padding-top: 8px;
}
.banner-container .wrapper{
  width: 600px;
  height: 250px;
  border-radius: 16px;
  margin: 10px auto;
  overflow: hidden;
}

.banner-container .slides{
  display: grid;
  grid-template-columns: repeat(3, 100%);
  width: 100%;
  height: 100%;
}

.banner-container #slider-img-1{
  background-image: url(/images/banners/baner1.jpg);
  background-position: center;
}

.banner-container #slider-img-2{
  background-image: url(/images/banners/baner2.jpg);
  background-position: center;
}

.banner-container .button-container .button{
  background-color: #306082;
  width: 15px;
  height: 15px;
  border-radius: 16px;
  display: inline-block;
  margin: .3rem;
}

.banner-container .button-container{
  display: flex;
  
  width: fit-content;
  margin: -10px auto;
}

.banner-container .button-container .button:hover{
  background-color: #71c9c2;
}

/* polecane */
.recomended-list{
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
}

.recomended-product{
  border: 1px solid #306082;
  border-radius: 16px;
  text-align: center;
  max-width: 196px;
  padding: 8px;
}

.recomended-product h3{
  word-wrap: break-word;
}

.recomended-product p{
  font-size: 24px;
}

/* sekcja nowosci */
.new-products-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
}

.new-product{
  border: 2px solid #306082;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8px;
}

