body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;

}

main {
  width: 89%;
  margin: 124px auto 0 auto;
  font-size: 24px;
  background-color: white;
  padding: 15px;
}

h2{
  margin-left: 24px;
}
.basic-info-section {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.thumbnails-container img {
  max-width: 15%; 
  height: auto; 
}

.photos-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  
}

.current-photo-container {
  flex: 1;
  margin: 10px auto;
}

.current-photo-container img {
  max-width: 70%; 
  height: auto; 
  margin: 0 auto;
  padding-left: 12%;
}

.thumbnails-container {
  display: flex;
  width: 50%;
  margin-left: 10%;
}

.thumbnail {
  border: 1px solid;
  border-radius: 15px;
  margin-right: 5px;
}

.photos-container {
  width: 90%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.buy-box {
  height: 70%;
  width: 30%;
  border: solid 1px;
  border-radius: 15px;
  margin: 150px 100px;
  font-size: 25px;
  text-align: center;
}

button{
  border-radius: 16px;
  font-size: 24px;
  color: white;
  background-color: #306082;
  border-color: #306082;
}

.price{
  font-size: 32px;
}


.description-section, .rating-section {
  border-top: 2px solid #306082;
}

.description{
  width: 80%;
  margin: 0 auto;
}

.parameters-table {
  width: 50%;
  border-collapse: collapse;
  margin: 16px auto;
  font-size: 24px;
  
}

.parameters-table th, .parameters-table td {
  border: 1px solid #306082;
  padding: 8px;
}

.parameters-table th {
  background-color: #f2f2f2;
}

.parameters-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* rating */

.progress-bar {
  background-color: #638094; 
  width: 50%; 
  border-radius: 15px;
  height: 100%;
  margin-top: 24px;
} 

.progressed { 
  background-color: #306082; 
  color: white; 
  padding: 1%; 
  text-align: right; 
  font-size: 20px; 
  border-radius: 15px; 
  height: 100%;
}

.prg1{
  width: 50%;
}

.prg2{
  width: 80%;
}

.prg3{
  width: 20%;
}

.prg4{
  width: 5%;
}

.prg5{
  width: 0%;
}



.rating-summary-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  align-items: center;
}

.ratings-list{
  width: 50%;
}

.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
}

.star-image-container{
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-top: 16px;
  align-items: center;
  column-gap: 8px;
}

.rate-product-container{
  display: flex;
  flex-direction: column;
}

