body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;

}

main {
  width: 90%;
  margin: 200px auto;
  font-size: 24px;
  background-color: white;
  padding: 15px;
}

.basic-info-section {
  display: flex;
  margin-bottom: 5px;
}

.thumbnails-container img {
  max-width: 15%; 
  height: auto; 
}

.photos-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  
}

.current-photo-container {
  flex: 1;
  margin: 10px auto;
}

.current-photo-container img {
  max-width: 70%; 
  height: auto; 
  margin: 0 auto;
  padding-left: 12%;
}

.thumbnails-container {
  display: flex;
  width: 50%;
  margin-left: 10%;
}

.thumbnail {
  border: 1px solid;
  border-radius: 15px;
  margin-right: 5px;
}

.photos-container {
  width: 90%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.buy-box {
  height: 70%;
  width: 30%;
  border: solid 1px;
  border-radius: 15px;
  margin: 150px 100px;
  font-size: 25px;
  text-align: center;
  
}

.description-section {
  border-top: 2px solid black;
}


.parameters-table {
  width: 100%;
  border-collapse: collapse;
}

.parameters-table th, .parameters-table td {
  border: 1px solid black;
  padding: 8px;
}

.parameters-table th {
  background-color: #f2f2f2;
}

.parameters-table tr:nth-child(even) {
  background-color: #f2f2f2;
}