body {
  background-image: url(../images/tlo.png);
  background-repeat: repeat-x repeat-y;
}


main {
  width: 90%;
  margin: 124px auto 0 auto;
  font-size: 24px;
  background-color: white;
  color: black;
  font-family: sans-serif;
  display: flex;
  
}


.products-section {
  width: 85%;
  padding-left: 16px;
}

h1{
  font-size: 64px;
}

h2{
  margin-left: 25%;
}

/* filtry */
.filters-section {
  width: 15%;
  border: 1px solid #696a6a;
  border-radius: 5px;
  height: 50%;
  margin: 20px 10px 50px 10px;
  padding-left: 10px;
}

.price-filter{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.price-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%; 
  height: 10px;  
  outline: none; 
  opacity: 0.7;
  background: #05092e; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 5px;
}

.price-slider:hover {
  opacity: 1; 
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #71c9c2; 
  cursor: pointer;
  border-radius: 50px;
}

.price-slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #71c9c2; 
  cursor: pointer; 
}

.checkboxes{
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 16px;
  cursor: pointer;
  margin: 0px;
  flex-wrap: wrap;
}

.core-frequency-filter {
  display: flex;
}

.core-frequency-filter input{
  width: 50%;
  border: 1px solid #05092e;
  border-radius: 15px;
}

input[type="checkbox"]{
  margin-top: 25px;
}

/* lista produktów */
.product-container {
  width: 80%;
  display: flex;
  justify-content: left;
  margin: 64px auto;
}
.product-details{
  margin-left: 5%;
  max-width: 512px;
}

.product-details ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px; 
}

.product-container img {
  width: 15%;
  height: auto;
}

.product-rating img {
  width: 5%;
}

.buy-box{
  text-align: center;
  margin-left: 10%;
}

.buy-box button{
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 16px;
  color: white;
  background-color: #306082;
  border-color: #306082;
 
}

/* Popularne */

.popular-products-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 800px;
}


.popular-product {
  flex-basis: calc(25% - 20px); 
  text-align: left;
  justify-content: center;
  color: black;
  border: 1px solid  #05092e;
  border-radius: 5px;
  padding: 0 10px;
}

.popular-product-image {
  max-width: 100%;
  height: auto;
}
.popular-product hr{
  width: 100%;
  border: none;
  height: 1px;
  background-color: #696a6a;
}
.popular-product h2 {
  font-size: 12px;
}

.popular-product p {
  margin-top: 2px;
  font-size: 16px;
}

.section-divider-hr{
  height: 2px;
  width: 100%;
  background-color: #05092e;
  border-color: #05092e;
}

.user-actions.populars{
  width: 100%;
  display: flex;
  align-items: center;
}

.wishlist-button-small{
  width: 20%;
  margin: 8px 10px 8px 0;
}

.quick-buy-button{
  font-size: 16px;
  width: 80%;
  border-radius: 25px;
  border-color: #05092e;
  background-color: #05092e;
  color: white;
}

.popular-product a {
  text-decoration: none;
  color: #696a6a;
}

